*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
card/build/generated/assets/
card/build/generated/res/
card/build/generated/source/aidl/
card/build/generated/source/rs/
card/build/intermediates/bundles/debug/aidl/
card/build/intermediates/bundles/debug/assets/
card/build/intermediates/bundles/release/aidl/
card/build/intermediates/bundles/release/assets/
card/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
card/build/intermediates/incremental/packageDebugAndroidTest/
card/build/intermediates/incremental/packageDebugResources/aapt-temp/
card/build/intermediates/incremental/packageReleaseResources/aapt-temp/
card/build/intermediates/incremental/processDebugAndroidTestResources/
card/build/intermediates/incremental/processDebugResources/
card/build/intermediates/lint/
card/build/intermediates/manifest/tmp/
card/build/intermediates/rs/
card/build/intermediates/shaders/
newPrinter/build/generated/assets/
newPrinter/build/generated/res/
newPrinter/build/generated/source/aidl/
newPrinter/build/generated/source/rs/
newPrinter/build/intermediates/bundles/debug/aidl/
newPrinter/build/intermediates/bundles/debug/assets/
newPrinter/build/intermediates/bundles/release/aidl/
newPrinter/build/intermediates/bundles/release/assets/
newPrinter/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
newPrinter/build/intermediates/incremental/packageDebugAndroidTest/
newPrinter/build/intermediates/incremental/packageDebugResources/aapt-temp/
newPrinter/build/intermediates/incremental/packageReleaseResources/aapt-temp/
newPrinter/build/intermediates/incremental/processDebugAndroidTestResources/
newPrinter/build/intermediates/incremental/processDebugResources/
newPrinter/build/intermediates/lint/
newPrinter/build/intermediates/manifest/tmp/
newPrinter/build/intermediates/rs/
newPrinter/build/intermediates/shaders/
.idea/runConfigurations.xml
card/build/docs/
card/build/generated/source/apt/
card/build/generated/source/buildConfig/release/
card/build/generated/source/r/release/
card/build/intermediates/bundles/default/
card/build/intermediates/classes/
card/build/intermediates/incremental-safeguard/
card/build/intermediates/incremental/mergeReleaseJniLibFolders/
card/build/intermediates/incremental/processReleaseResources/
card/build/intermediates/jniLibs/
card/build/intermediates/transforms/
card/build/libs/
card/build/poms/
card/build/tmp/
newPrinter/build/docs/
newPrinter/build/generated/source/apt/
newPrinter/build/generated/source/buildConfig/release/
newPrinter/build/generated/source/r/release/
newPrinter/build/intermediates/bundles/default/
newPrinter/build/intermediates/classes/
newPrinter/build/intermediates/incremental-safeguard/
newPrinter/build/intermediates/incremental/mergeReleaseJniLibFolders/
newPrinter/build/intermediates/incremental/processReleaseResources/
newPrinter/build/intermediates/jniLibs/
newPrinter/build/intermediates/transforms/
newPrinter/build/libs/
newPrinter/build/poms/
newPrinter/build/tmp/
